<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/echarts/echarts.js"></script>
    <script src="/echarts/chalk.js"></script>
</head>
<body style="background-color: rgb(57,61,73)">
<div style="margin-top: 1%">
    <span id="businessCountToday" style="font-size: 18px;font-weight: bold;color: white;margin-left: 15%"></span>
    <span id="visitCount" style="font-size: 18px;font-weight: bold;color: white;margin-left: 20%"></span>
    <span id="money" style="font-size: 18px;font-weight: bold;color: white;margin-left: 20%"></span>
</div>
<div class="layui-carousel" id="shuffling"
     style="background-color: rgb(57,61,73);position:absolute;top:57%;left:50%;transform: translate(-50%,-50%);">
    <div carousel-item="">
        <div>
            <div id="businessCount" style="height:540px;width: 1400px"></div>
        </div>
        <div>
            <div id="performanceRanking" style="height:540px;width: 1400px"></div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['jquery', 'carousel'], function () {
        let $ = layui.jquery;
        let carousel = layui.carousel;

        $.ajax({
            url: "/business/getIndexData",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                //当天办理业务数量
                $("#businessCountToday").html("当天办理业务数量：" + data.data[0]);
                //当天回访数量
                $("#visitCount").html("当天回访数量：" + data.data[1]);
                //当天收入
                $("#money").html("当天收入：" + data.data[2]);
            }
        })

        //常规轮播
        carousel.render({
            elem: '#shuffling'
            , arrow: 'always'
            , width: '1400px'
            , height: '540px'
            , interval: 5000
        });
        //业务量走势图
        $.ajax({
            url: "/business/showBusinessChart",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.code == 0) {
                    //获取横坐标
                    let monthX = data.data.monthX;
                    // 获取y坐标1
                    let businessCountY = data.data.businessCountY;
                    // 获取y坐标2
                    // let moneys=data.data.moneys;
                    // 基于准备好的dom，初始化echarts实例
                    let myChart = echarts.init(document.getElementById('businessCount'), 'chalk');
                    // 指定图表的配置项和数据
                    let option = {
                        title: {
                            text: '业务量走势图',
                            subtext: '业务量'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['业务量']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: monthX
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '业务量',
                                type: 'bar',
                                data: businessCountY,
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            }
        });

        //业绩排行榜
        $.ajax({
            url: "/business/showPerformanceRanking",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                if (data.code == 0) {
                    //获取横坐标
                    let moneyX = data.data.moneyX;
                    // 获取y坐标1
                    let loginNameY = data.data.loginNameY;
                    // 获取y坐标2
                    // let moneys=data.data.moneys;
                    // 基于准备好的dom，初始化echarts实例
                    let myChart1 = echarts.init(document.getElementById('performanceRanking'), 'chalk');
                    // 指定图表的配置项和数据
                    let option1 = {
                        title: {
                            text: '业绩排行榜',
                            subtext: '业绩',
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['业绩']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                data: moneyX
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '业绩',
                                type: 'bar',
                                data: loginNameY,
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart1.setOption(option1);
                }
            }
        });
    });

</script>
</html>