<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>字典种类</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
<body>
<!--添加功能的form-->
<form class="layui-form" action="" id="insertDicFrom"
      style="display: none;margin-right: 40px;margin-top: 20px">
    <input hidden name="createBy" th:value="${session.user.userName}">
    <div class="layui-form-item">
        <label class="layui-form-label">字典类型</label>
        <div class="layui-input-block">
            <select name="typeId">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字典名称</label>
        <div class="layui-input-block">
            <input type="text" name="dictionaryName" autocomplete="off" placeholder="字典名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remark" autocomplete="off" placeholder="备注"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="insertDic">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<!--编辑功能的form-->
<form class="layui-form" action="" id="updateDicFrom" lay-filter="updateDicFrom"
      style="display: none;margin-right: 40px;margin-top: 20px">
    <input type="hidden" name="updateBy" th:value="${session.user.userName}">
    <input type="hidden" name="dictionaryId">
    <div class="layui-form-item">
        <label class="layui-form-label">字典类型</label>
        <div class="layui-input-block">
            <select name="typeId">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字典名称</label>
        <div class="layui-input-block">
            <input type="text" name="dictionaryName" autocomplete="off" placeholder="字典名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remark" autocomplete="off" placeholder="备注"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="updateDicFilter">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<!--顶部搜索框-->
<form class="layui-form" action="" style="margin-top: 10px">
    <div class="layui-inline">
        <label class="layui-form-label">字典ID</label>
        <div class="layui-input-inline">
            <input type="text" name="dictionaryId" autocomplete="off" placeholder="字典ID" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">字典名称</label>
        <div class="layui-input-inline">
            <input type="text" name="dictionaryName" autocomplete="off" placeholder="字典名称" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-inline">
            <input type="text" name="createBy" autocomplete="off" placeholder="创建人" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="searchFilter">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="myButton">重置</button>
        </div>
    </div>
</form>
<table id="showDic" lay-filter="dicFilter"></table>
</body>
<!--顶部工具栏-->
<script type="text/html" id="dicToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-xs" lay-event="addDic">
            <i class="layui-icon layui-icon-add-1"></i>添加
        </button>
    </div>
</script>
<!--实现操作功能按钮-->
<script type="text/html" id="dicBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>
<script>
    layui.use(['table', 'layer', 'jquery', 'form'], function () {
        let table = layui.table;
        let layer = layui.layer;
        let $ = layui.jquery;
        let form = layui.form;

        let dicTable = table.render({
            elem: '#showDic'
            , url: '/dictionary/selectAll' //数据接口
            , toolbar: '#dicToolbar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print']
            , title: 'dicTable'
            , page: true
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'dictionaryId', title: '字典ID', width: 100, sort: true}
                    , {field: 'typeId', title: '类型ID', width: 100, hide: true}
                    , {field: 'typeName', title: '类型名称', width: 120}
                    , {field: 'dictionaryName', title: '业务名称', width: 300}
                    , {field: 'createBy', title: '创建人', width: 100}
                    , {field: 'createTime', title: '创建时间', width: 200}
                    , {field: 'updateBy', title: '修改人', width: 100}
                    , {field: 'updateTime', title: '修改时间', width: 200}
                    , {field: 'remark', title: '备注', width: 200}
                    , {fixed: 'right', align: 'center', title: '操作', toolbar: '#dicBar', width: 120}
                ]
            ]
        });

        //填充类型下拉框
        let $typeSelect = $("select[name=typeId]");
        let options = '';
        $.ajax({
            url: "/dictionary/selectAllType",
            type: "GET",
            dataType: "JSON",
            success: function (res) {
                for (let i = 0; i < res.data.length; i++) {
                    options += '<option value="' + res.data[i].typeId + '">' + res.data[i].typeName + '</option>';
                }
                $typeSelect.html(options);
            }
        });

        //监听行工具事件
        table.on('tool(dicFilter)', function (obj) {
            let data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                form.val('updateDicFrom', {
                    'dictionaryId': data.dictionaryId,
                    'typeId': data.typeId,
                    'dictionaryName': data.dictionaryName,
                    'remark': data.remark
                });
                form.render();
                layer.open({
                    title: '编辑字典',
                    type: 1,
                    area: ['500px', '500px'],
                    content: $("#updateDicFrom")//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            }
        });
        //form表单实现更新功能
        form.on('submit(updateDicFilter)', function (data) {
            //提交表单数据
            $.ajax({
                url: "/dictionary/update",
                type: "PUT",
                dataType: "JSON",
                data: data.field,
                success: function (ret) {
                    if (ret.code == 0) {
                        //关闭对话框
                        layer.closeAll();
                        //刷新表格数据
                        dicTable.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(ret.msg, {icon: 6});
                    } else {
                        layer.msg(ret.msg, {icon: 5});
                    }

                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听头工具栏事件
        table.on('toolbar(dicFilter)', function (obj) {
            switch (obj.event) {
                case 'addDic':
                    document.getElementById("insertDicFrom").reset();
                    form.render();
                    layer.open({
                        title: '添加部门',
                        type: 1,
                        area: ['500px', '450px'],
                        content: $("#insertDicFrom")
                    });
                    break;
            }
        });

        //form表单实现添加功能
        form.on('submit(insertDic)', function (data) {
            //提交表单数据
            $.ajax({
                url: "/dictionary/insert",
                type: "POST",
                dataType: "JSON",
                data: data.field,
                success: function (ret) {
                    if (ret.code == 0) {
                        //关闭对话框
                        layer.closeAll();
                        //刷新表格数据
                        dicTable.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(ret.msg, {icon: 6});
                    } else {
                        layer.msg(ret.msg, {icon: 5});
                    }

                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //实现顶部搜索框
        form.on('submit(searchFilter)', function (data) {
            //执行重载
            dicTable.reload({
                where: {
                    dictionaryId: data.field.dictionaryId,
                    dictionaryName: data.field.dictionaryName,
                    createBy: data.field.createBy
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //重置条件查询表单，刷新table数据
        $("#myButton").click(function () {
            dicTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    dictionaryId: ""
                    , dictionaryName: ""
                    , createBy: ""
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
</script>
</html>