<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>进度列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<form class="layui-form" action="" style="margin-top: 10px">
    <div class="layui-inline">
        <label class="layui-form-label">进度ID</label>
        <div class="layui-input-inline">
            <input type="number" name="progressId" placeholder="请输入进度ID" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">进度类型</label>
        <div class="layui-input-inline">
            <input type="text" name="progressType" placeholder="请输入进度类型" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="selectFormFilter">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="myButton">重置</button>
        </div>
    </div>
</form>


<body>
<table id="customTable" lay-filter="customFilter"></table>
<table id="businessTable" lay-filter="businessFilter"></table>
<table id="showProgress"></table>
</body>

<!--顶部工具栏-->
<script type="text/html" id="progressToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-xs" lay-event="addProgress">添加进度</button>
    </div>
</script>
<!--添加功能的form-->
<form class="layui-form" action="" id="addProgressForm"
      style="display: none;margin-right: 40px;margin-top: 20px">

    <!--隐藏input框，获取相应值-->
    <input hidden th:value="${session.username}" name="createBy">
    <input type="hidden" name="destinationName" id="destinationName">

    <div class="layui-form-item">
        <label class="layui-form-label">进度类型</label>
        <div class="layui-input-block">
            <select name="progressType">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">业务编号</label>
        <div class="layui-input-block">
            <input type="number" name="businessId" readonly id="addBusinessTableSelect" th:value="${businessId}"
                   lay-verify="required" placeholder=""
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            <button type="button" class="layui-btn layui-btn-xs" id="insertAddUpload">上传文件</button>
        </label>
        <div class="layui-input-block">
            <input type="text" name="sourceName" id="insertAddSourceName"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <p id="insertAddText"></p>
    <div class="layui-form-item">
        <label class="layui-form-label">
            <button type="button" class="layui-btn layui-btn-xs" id="insertInformUpload">通知文件</button>
        </label>
        <div class="layui-input-block">
            <input type="text" name="noticeName" id="insertInformSourceName"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <p id="insertInformText"></p>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remark" lay-verify="required" placeholder=""
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="addProgressFilter">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!--修改进度表单-->
<form class="layui-form" action="" id="updateProgressForm" lay-filter="updateProgressFormFilter"
      style="display: none;margin-right: 40px;margin-top: 20px">
    <!--隐藏input框，获取相应值-->
    <input hidden th:value="${session.username}" name="updateBy">
    <input type="hidden" name="destinationName" id="updateDestinationName">
    <input type="hidden" name="progressId">
    <input type="hidden" name="uploadId">
    <div class="layui-form-item">
        <label class="layui-form-label">进度类型</label>
        <div class="layui-input-block">
            <select name="progressType">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">业务编号</label>
        <div class="layui-input-block">
            <input type="number" name="businessId" readonly id="updateBusinessTableSelect" th:value="${businessId}"
                   lay-verify="required" placeholder=""
                   autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">
            <button type="button" class="layui-btn layui-btn-xs" id="updateAddUpload">上传文件</button>
        </label>
        <div class="layui-input-block">
            <input type="text" name="sourceName" id="updateAddSourceName"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <p id="updateAddText"></p>
    <div class="layui-form-item">
        <label class="layui-form-label">
            <button type="button" class="layui-btn layui-btn-xs" id="updateInformUpload">通知文件</button>
        </label>
        <div class="layui-input-block">
            <input type="text" name="noticeName" id="updateInformSourceName"
                   placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <p id="updateInformText"></p>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="remark" lay-verify="required" placeholder=""
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" align="center">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="updateProgressFilter">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!--实现菜单管理操作功能按钮-->
<script type="text/html" id="progressBar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改进度</a>
</script>

<script>
    //自定义layui组件的目录
    layui.config({
        base: '/layui/lay/modules/'
    }).extend({
        //设定组件别名
        tableSelect: 'tableSelect',
    });
    layui.use(['table', 'layer', 'jquery', 'form', 'tableSelect', 'upload'], function () {
        let layer = layui.layer;
        let $ = layui.jquery;
        let form = layui.form;
        let table = layui.table;
        let upload = layui.upload;
        let tableSelect = layui.tableSelect;

        //添加业务编号选择表格
        tableSelect.render({
            elem: '#addBusinessTableSelect',	//定义输入框input对象 必填
            checkedKey: 'businessId', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'businessName',	//搜索输入框的name值 默认keyword
            searchPlaceholder: '业务名搜索',	//搜索输入框的提示文字 默认关键词搜索
            table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url: '/business/queryByCondition',
                cols: [
                    [
                        {type: 'radio'}
                        , {field: 'businessId', title: '业务编号', width: 100, sort: true}
                        , {field: 'applicantCode', title: '申请号', width: 160}
                        , {field: 'applicantTime', title: '申请时间', width: 160}
                        , {field: 'businessName', title: '业务名', width: 160}
                        , {field: 'businessTopType', title: '业务类型', width: 100,}
                        , {field: 'businessSecondType', title: '业务种类', width: 160}
                    ]
                ]
            },
            done: function (elem, data) {
                //选择完后的回调，包含2个返回值 elem:返回之前input对象；data:表格返回的选中的数据 []
                //拿到data[]后 就按照业务需求做想做的事情啦~比如加个隐藏域放ID...
                elem.val(data.data[0].businessId)
            }
        })

        //修改业务编号选择表格
        tableSelect.render({
            elem: '#updateBusinessTableSelect',	//定义输入框input对象 必填
            checkedKey: 'businessId', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'contact',	//搜索输入框的name值 默认keyword
            searchPlaceholder: '联系人姓名搜索',	//搜索输入框的提示文字 默认关键词搜索
            table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url: '/business/queryByCondition',
                cols: [
                    [
                        {type: 'radio'}
                        , {field: 'businessId', title: '业务编号', width: 100, sort: true}
                        , {field: 'applicantCode', title: '申请号', width: 160}
                        , {field: 'applicantTime', title: '申请时间', width: 160}
                        , {field: 'businessName', title: '业务名', width: 160}
                        , {field: 'businessTopType', title: '业务类型', width: 100,}
                        , {field: 'businessSecondType', title: '业务种类', width: 160}
                    ]
                ]
            },
            done: function (elem, data) {
                //选择完后的回调，包含2个返回值 elem:返回之前input对象；data:表格返回的选中的数据 []
                //拿到data[]后 就按照业务需求做想做的事情啦~比如加个隐藏域放ID...
                elem.val(data.data[0].businessId)
            }
        })


        //获取传过来的customId
        var customeId = "";
        customeId = [[${customId}]] + "";

        if (customeId == 0) {
            document.getElementById("customTable").hidden = true
        } else {
            document.getElementById("customTable").hidden = false
            let customUrl = '/custom/selectOne?customId=' + customeId
            var customTable = table.render({
                elem: '#customTable'
                , url: customUrl //数据接口
                , page: false //开启分页
                , cols: [
                    [ //表头
                        {field: 'customId', title: '客户ID', align: 'center', sort: true, width: 90}
                        , {field: 'contact', title: '联系人姓名', align: 'center', width: 120}
                        , {field: 'phone', title: '手机号', align: 'center', width: 140}
                        , {field: 'applicant', title: '申请人', align: 'center', width: 120}
                        , {field: 'customAddress', title: '邮寄地址', align: 'center', width: 120}
                        , {field: 'createBy', title: '创建人', align: 'center', width: 120}
                        , {field: 'createTime', title: '创建时间', align: 'center', width: 160}
                        , {field: 'updateBy', title: '修改人', align: 'center', width: 120}
                        , {field: 'updateTime', title: '修改时间', align: 'center', width: 160}
                        , {field: 'proxyId', title: '代理人ID', align: 'center', width: 120,hide:true}
                        , {field: 'userName', title: '代理人', align: 'center', width: 120}
                        , {field: 'remark', title: '备注', align: 'center', width: 120}
                    ]
                ]
            });
        }

        //获取传过来的businessId
        var businesseId = "";
        businesseId = [[${businessId}]] + "";

        if (businesseId == 0) {
            document.getElementById("businessTable").hidden = true
        } else {
            document.getElementById("businessTable").hidden = false
            let businessUrl = '/business/selectOne?businessId=' + businesseId
            var businessTable = table.render({
                elem: '#businessTable'
                , url: businessUrl //数据接口
                , page: false //开启分页
                , cols: [
                    [ //表头
                        {field: 'businessId', title: '业务编号', width: 100, sort: true}
                        , {field: 'applicantCode', title: '申请号', width: 160}
                        , {field: 'applicantTime', title: '申请时间', width: 160}
                        , {field: 'businessName', title: '业务名', width: 160}
                        , {field: 'businessTopType', title: '业务类型', width: 100,}
                        , {field: 'businessSecondType', title: '业务种类', width: 160}
                        , {field: 'trademarkType', title: '商标类型', width: 200}
                        , {field: 'price', title: '成交价格', width: 100}
                        , {field: 'proxyMoney', title: '代理费', width: 100}
                        , {field: 'uploadId', title: '文件', width: 80}
                        , {field: 'createBy', title: '创建人', width: 80}
                        , {field: 'createTime', title: '创建时间', width: 160}
                        , {field: 'updateBy', title: '修改人', width: 80}
                        , {field: 'updateTime', title: '修改时间', width: 160}
                        , {field: 'customId', title: '客户ID', width: 100}
                        , {field: 'remark', title: '备注', width: 100}
                    ]
                ]
            });
        }


        //生成表格
        let progressUrl = '/progress/queryAll?businessId=' + businesseId
        let progressTable = table.render({
            elem: '#showProgress'
            , url: progressUrl
            , toolbar: '#progressToolbar'
            , title: 'menuTable'
            , page: true
            , defaultToolbar: ''
            , cols: [
                [
                    {field: 'progressId', title: '进度ID', width: 80, fixed: 'left'},
                    {field: 'progressType', title: '进度类型', width: 120},
                    {
                        field: 'sourceName', title: '上传文件名', width: 120,
                        templet: function (progress) {
                            return '<a href="' + progress.upload.destinationName + '">' + progress.upload.sourceName + '</a>';
                        }
                    },
                    {
                        field: 'noticeName', title: '通知文件名', width: 120,
                        templet: function (progress) {
                            return '<a href="' + progress.upload.destinationName + '">' + progress.upload.noticeName + '</a>';
                        }
                    },
                    {field: 'businessId', title: '业务ID', width: 80},
                    {field: 'createBy', title: '创建人', width: 80},
                    {field: 'createTime', title: '创建时间', width: 100},
                    {field: 'updateBy', title: '更新人', width: 80},
                    {field: 'updateTime', title: '更新时间', width: 100},
                    {field: 'remark', title: '备注', width: 100},
                    {fixed: 'right', align: 'center', toolbar: '#progressBar', title: '操作', width: 100}
                ]
            ]
        });
        let options = '';
        var $progressTypeSelect = $("select[name=progressType]");
        $.ajax({
            url: "/progress/findAllProgress",
            type: "GET",
            dataType: "JSON",
            success: function (allProgress) {
                //将数据放到select中
                for (let i = 0; i < allProgress.length; i++) {
                    options += '<option value="' + allProgress[i].dictionary_name + '">' + allProgress[i].dictionary_name + '</option>';
                }
                $progressTypeSelect.html(options)
            }
        });

        //监听头部工具栏事件
        table.on('toolbar', function (obj) {
            switch (obj.event) {
                case 'addProgress':
                    //重新渲染表单
                    form.render()
                    layer.open({
                        title: '添加进度',
                        type: 1,
                        area: ['500px', '550px'],
                        content: $('#addProgressForm')//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    });
                    break;
            }
        });

        //监听行工具栏事件
        table.on('tool', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                //弹出对话框之前，需要填充表单数据
                form.val('updateProgressFormFilter', {
                    "progressType": data.progressType // "name": "value"
                    , "uploadId": data.uploadId
                    , "progressId": data.progressId
                    , "notice": data.notice
                    , "businessId": data.businessId
                    , "remark": data.remark
                });
                layer.open({
                    title: '修改进度',
                    type: 1,
                    area: ['500px', '550px'],
                    content: $("#updateProgressForm")//这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            }
        });

        //添加表单提交按钮事件
        form.on('submit(addProgressFilter)', function (data) {
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            //提交表单数据
            $.ajax({
                url: "/progress/add",
                type: "POST",
                dataType: "JSON",
                data: data.field,
                success: function (ret) {
                    if (ret.code == 0) {
                        //关闭对话框
                        layer.closeAll();
                        //刷新表格数据
                        progressTable.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(ret.msg, {icon: 6});
                    } else {
                        layer.msg(ret.msg, {icon: 5});
                    }

                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //修改表单提交按钮事件
        form.on('submit(updateProgressFilter)', function (data) {
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            //提交表单数据
            $.ajax({
                url: "/progress/update",
                type: "POST",
                dataType: "JSON",
                data: data.field,
                success: function (ret) {
                    if (ret.code == 0) {
                        //关闭对话框
                        layer.closeAll();
                        //刷新表格数据
                        progressTable.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                        layer.msg(ret.msg, {icon: 6});
                    } else {
                        layer.msg(ret.msg, {icon: 5});
                    }
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //增加的文件上传
        let insertAddUpload = upload.render({
            elem: '#insertAddUpload'
            , url: '/file/upload' //上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.response === 'success') {
                    let src = "https://" + res.name;
                    //给隐藏的input框赋值，传入后台
                    $("#destinationName").val(src);
                    //回显原文件名
                    $("#insertAddSourceName").val(res.fileName);
                    layer.msg('上传成功');
                } else {
                    return layer.msg('上传失败')
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                let insertAddText = $('#insertAddText');
                insertAddText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-xs uploadReload">重试</a>');
                insertAddText.find('.uploadReload').on('click', function () {
                    insertAddUpload.upload();
                });
            }
        });
        //增加的通知文件
        let insertInformUpload = upload.render({
            elem: '#insertInformUpload'
            , url: '/file/upload' //上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.response === 'success') {
                    let src = "https://" + res.name;
                    //给隐藏的input框赋值，传入后台
                    $("#destinationName").val(src);
                    //回显原文件名
                    $("#insertInformSourceName").val(res.fileName);
                    layer.msg('上传成功');
                } else {
                    return layer.msg('上传失败')
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                let insertInformText = $('#insertInformText');
                insertInformText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-xs uploadReload">重试</a>');
                insertInformText.find('.uploadReload').on('click', function () {
                    insertInformUpload.upload();
                });
            }
        });
        //编辑的文件上传
        let updateAddUpload = upload.render({
            elem: '#updateAddUpload'
            , url: '/file/upload' //上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.response === 'success') {
                    let src = "https://" + res.name;
                    //给隐藏的input框赋值，传入后台
                    $("#updateDestinationName").val(src);
                    //回显原文件名
                    $("#updateAddSourceName").val(res.fileName);
                    layer.msg('上传成功');
                } else {
                    return layer.msg('上传失败')
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                let updateAddText = $('#updateAddText');
                updateAddText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-xs uploadReload">重试</a>');
                updateAddText.find('.uploadReload').on('click', function () {
                    updateAddUpload.upload();
                });
            }
        });
        //编辑的通知文件
        let updateInformUpload = upload.render({
            elem: '#updateInformUpload'
            , url: '/file/upload' //上传接口
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.response === 'success') {
                    let src = "https://" + res.name;
                    //给隐藏的input框赋值，传入后台
                    $("#updateDestinationName").val(src);
                    //回显原文件名
                    $("#updateInformSourceName").val(res.fileName);
                    layer.msg('上传成功');
                } else {
                    return layer.msg('上传失败')
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                let updateInformText = $('#updateInformText');
                updateInformText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-xs uploadReload">重试</a>');
                updateInformText.find('.uploadReload').on('click', function () {
                    updateInformUpload.upload();
                });
            }
        });

        //查询提交按钮
        form.on('submit(selectFormFilter)', function (data) {
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            progressTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    progressId: data.field.progressId
                    , progressType: data.field.progressType
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //重置条件查询表单，刷新table数据
        $("#myButton").click(function () {
            progressTable.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    progressId: ""
                    , progressType: ""
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
</script>
</html>